@import "tailwindcss";

@keyframes slideDown {
from {
opacity: 0;
transform: translateY(-25px);
}

to {
opacity: 1;
transform: translateY(0);
}
}

@keyframes slideUp {
from {
opacity: 1;
transform: translateY(0);
}

to { opacity: 0; transform: translateY(-25px); -webkit-transform: translateY(-25px); -moz-transform: translateY(-25px); -ms-transform: translateY(-25px); -o-transform: translateY(-25px);
}
}
html{
    scroll-behavior: smooth;
}
